<div class="row">

	<div class="col-md-6">
		<%= image_tag (@user.profile_pic ),style: 'width:50%;' rescue nil %>
	</div>

	<div class="col-md-6">
		<table class="table">
			<tbody>
				<tr>
					<td>Email</td>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<td>Name:</td> 
					<td><%= @user.full_name %></td> 
				</tr>
				<tr>
					<td>Signup date :</td> 
					<td><%= @user.created_at.strftime('%D') %></td> 
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<p><%= @user.email %>- Friends List</p>            
		<%= render 'friend_list'%>		
	</div>
</div>



